<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='styles/admin.css') }}">

    <title>khatana committe - admin page</title>
  </head>
  <body>

  	<div class = "container-fluid bg-primary">
        <h1>ADMINISTRATION PAGE</h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Khatana Committe</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a id = "home-page">Home</a></li>
                <li  class="active"><a href="#">Admin</a></li>
                <li><a href="#" id = "join-page">Join</a></li>
                <li><a href="#" id = "leave-page">Leave</a></li>
                <li><a href="#" id = "paid-page">Paid</a></li>
                <li><a href="#" id = "loan-page">Loan</a></li>
                <li><a href="#" id = "print-page">PRINT</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-info container" id = "secret-info">
    <strong id = "cur-month">Month </strong>:- Total interest : <span id = "total_interest"></span> | Total Loan balanced : <span id = "total_loan"></span> | Cash in hand : <span id = "c_in_hand"></span> | Members : <span id = "total_members"></span>
    </div>

    <div id = "select_month">
            <label>Select Month : </label>
            <select id = "select_month_options" onchange= "options_for_selection()" >
                <option>Select</option>
            </select>
    </div>
    <div id = "object-view" class="container">
    <table class = "table container" id = "all-table">
            <thead>
                <tr>
                	<th>
                        ID
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        CD
                    </th>
                    <th>
                        INSTALLMENT
                    </th>
                    <th>
                        INTEREST
                    </th>
                    <th>
                        TOTAL
                    </th>
                    <th>
                        LOAN BALANCE
                    </th>
                    <th>
                        MONTH
                    </th>
                    <th>
                       ACTION
                    </th>
                </tr>
            </thead>
            <tbody id = "content"></tbody>
        </table>
    	</div>
    <div id = "edit">
        <div class = "container-fluid bg-danger">
        <h1>Edit <span id = "edit-close-button">Close</span></h1>
        </div>
         <form id = "edit-form" class = "form-horizontal" action="#">
            <div class="form-group">
            <label class="control-label col-sm-4">ID :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-id">
            </div></div>
			
            <div class="form-group">
            <label class="control-label col-sm-4">NAME :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-name">
            </div></div>
			
            <div class="form-group">
            <label class="control-label col-sm-4">CD :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-cd">
            </div></div>
			
            <div class="form-group">
            <label class="control-label col-sm-4">INSTALLMENT :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-installment">
            </div></div>
			
            <div class="form-group">
            <label class="control-label col-sm-4">INTEREST :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-interest">
            </div></div>
			
            <div class="form-group">
            <label  class="control-label col-sm-4 ">TOTAL :</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-total">
            </div></div>
			
            <div class="form-group">
            <label class="control-label col-sm-4">LOAN BALANCE:</label>
			<div class = "col-sm-8">
            <input class="form-control" name="edit-loan">
            </div></div>
            <button type="submit" class="btn btn-success submit-button " id = "edit-submit-button"><strong>Update</strong></button>
        </form> 
    </div>

    <div id = "join" class = "func">
        <div class = "container-fluid bg-danger">
        <h1>Join <span id = "join-close-button">Close</span></h1>
        </div>
         <form id = "join-form" action="#">
            <div class="form-group form-box">
            <label class = "container h3">Enter Name :</label>
            <input class="form-control container" name="join-name">
            </div>
            <div class="form-group form-box">
            <label class = "container h3">CD :</label>
            <input class="form-control container" name="join-cd">
            </div>
            <button type="submit" class="btn btn-default submit-button" id = "join-submit-button"><strong>Update</strong></button>
        </form> 
    </div>

    <div id = "leave" class = "func">
        <div class = "container-fluid bg-danger">
        <h1>Leave <span id = "leave-close-button">Close</span></h1>
        </div>
         <form id = "leave-form" action="#">
            <div class = "options-menu">
            <label>Select Name : </label>
            <select id = "leave-name" class = "select_name_options">
                <option>Select</option>
            </select>
			</div>
            <button type="submit" class="btn btn-default submit-button" id = "leave-submit-button"><strong>Leave</strong></button>
        </form> 
    </div>

    <div id = "paid" class = "func">
        <div class = "container-fluid bg-danger">
        <h1>Paid <span id = "paid-close-button">Close</span></h1>
        </div>
         <form id = "paid-form" action="#">
            <div class = "options-menu">
            <label>Select Name : </label>
            <select id = "paid-name" class = "select_name_options">
                <option>Select</option>
            </select>
			</div>
            <div class="form-group form-box">
            <label class = "container h3">Installment :</label>
            <input class="form-control container" name="paid-installment">
            </div>
            <button type="submit" class="btn btn-default submit-button" id = "paid-submit-button"><strong>Update</strong></button>
        </form> 
    </div>
    <div id = "loan" class = "func">
        <div class = "container-fluid bg-danger">
        <h1>Loan <span id = "loan-close-button">Close</span></h1>
        </div>
         <form id = "loan-form" action="#">
            <div class = "options-menu">
            <label>Select Name : </label>
            <select id = "loan-name" class = "select_name_options">
                <option>Select</option>
            </select>
			</div>
            <div class="form-group form-box">
            <label class = "container h3">Loan Amount :</label>
            <input class="form-control container" name="loan-amount">
            </div>
            <div class="form-group form-box">
            <label class = "container h3">Installment :</label>
            <input class="form-control container" name="loan-installment">
            </div>
            <button type="submit" class="btn btn-default submit-button" id = "loan-submit-button"><strong>Update</strong></button>
        </form> 
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/admin.js') }}"></script>


  </body>
</html>
