<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">

    <title>khatana committe</title>
  </head>
  <body>
    <div id = "bg-content">
    <div class = "container-fluid bg-primary">
        <h1>COMMITTE DASHBOARD</h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Khatana Committe</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a id = "admin-page">Admin</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" id ="failed-alert">
        <strong>{{msg}}</strong></div>
    <div id = "select_month">
    		<form name="names_" class="form-group">
            <label>Check Your record : </label>
            <select id = "select_name_options" name="select-options" onchange= "options_for_selection()" >
            	<option value="Select">Select</option>
            </select>
        	</form>
    </div>
    <div id = "object-view" class="container">
    <table class = "table container" id = "all-table">
            <thead>
                <tr>
                	<th>
                        ID
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        CD
                    </th>
                    <th>
                        INSTALLMENT
                    </th>
                    <th>
                        INTEREST
                    </th>
                    <th>
                        TOTAL
                    </th>
                    <th>
                        LOAN BALANCE
                    </th>
                    <th>
                        MONTH
                    </th>
                </tr>
            </thead>
            <tbody id = "content"></tbody>
        </table>
    	</div>
    </div>
    	<div id = "login-control" >
    		<div class = "container-fluid">
        		<h1>Log in <span id = "close-button">Close</span></h1>
        	</div>
        	 <form id = "login-form" class="form-group" action="/adminpage" method="post">
        	 	<fieldset class = "form-group row">
        	 		<label for = "Username" class = "col-sm-4">Username :</label>
        	 		<div class = "col-sm-5">
        	 		<input type="text" name="username">
        	 		</div>
        	 	</fieldset>
        	 	<fieldset class = "form-group row">
        	 		<label for = "password" class = "col-sm-4">Password :</label>
        	 		<div class = "col-sm-5">
        	 		<input type="password" name="password">
        	 		</div>
        	 	</fieldset>
        	 	<fieldset class = "form-group">
        	 		<button type = "submit" class="btn btn-success btn-lg float-right" id = "login-button">Submit</button>
        	 	</fieldset>
        	 </form>

    	</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/dashboard.js') }}"></script>


  </body>
</html>