{% extends 'base.html' %}


{% block content %}

{% include 'head-nav.html' %}
<br>
<br>

<center>
	{% if status == 'entry' %}
<form class = "my-forms" method = "POST">{% csrf_token %}
	
	{{infoline}}
	<br>
	<br>
	<input type="submit" class = "btn btn-info" name="submit" value="Send OTP">
</form>

	{% elif status == "otp-validation" %}
		<form class="my-forms" method="POST">{% csrf_token %}
			Enter OTP : <input id = "otp-input" type = "text" class="form-control" name="otp" />

			<br>
			<input type="submit" class = "btn btn-info" name="submit" value="Validate">
		</form>

	{% elif status == "noaction" %}
		
		<div class = "my-forms">
		{{infoline}}
		<br>
		<br>
		<a href="/"><button class = "btn btn-info">Back</button></a>
		</div>

	{%  else %}
		<form  class="my-forms" method="POST">{% csrf_token %}

			{{form2.as_p}}

			<input type="submit" class = "btn btn-info" name="submit" value = "Submit" />
		</form>


{% endif %}
{% for message in messages %}
	{{message}}
{% endfor %}
</center>



{% endblock %}