h1{
	text-align: center;
}


#select_month{
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
}

button{
	border-radius: 10px;
}

#all-table{
	width: 70%;
	margin-top: 20px;
}

#object-view{
	border:1px black solid;
}

#login-control{
	width: 30%;
	height: auto;
	border : 1px solid black;
	border-radius: 10px;
	background-color: #fafad2;
	position: absolute;
	top:200px;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

#admin-page:hover{
	cursor: pointer;
}

#failed-alert{
	text-align: center;
	display: none;
}

#close-button{
	float:right;
	font-size: 20px;
	margin-right: 20px;
	margin-top:8px;
}

#close-button:hover{
	text-decoration: underline;
	cursor: pointer;
}

#login-form{
	margin-left: 50px;
	margin-top: 50px;
}

#login-button{
	margin-left: 140px;
}